@tailwind base;
@tailwind components;
@tailwind utilities;

.site-title {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

thead {
  border-bottom: 1px solid #cccc;
}

tr {
  border-bottom: 1px solid #cccc;
}

td {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

th,
td {
  padding: 10px;
}

th {
  font-size: 21px;
  padding: 10px;
}

td:nth-child(2) {
  text-align: left;
  padding: 10px;
}

td .level {
  color: #fff;
  padding: 5px;
  display: inline-block;
}

td .level-high {
  background: red;
}

td .level-medium {
  background: rgb(136, 136, 4);
}

td .level-low {
  background: gray;
}
